.git
.npmrc
.env
.env*
.env.*
.next
.session
.cache
.turbo
.vercel
build
coverage
node_modules
out
playwright-report
test-results
public/sw.js
*.pem
**/*.pem
*.tsbuildinfo
**/*.tsbuildinfo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
